# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Logs
*.log
logs/

# Kafka data directories
kraft-data/
data/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
